In [ ]:
import pandas as pd
import pymongo

df = pd.read_csv(r"EasyVisa.csv")

data = df.to_dict(orient='records')

DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL = "mongodb+srv://bala1430:bala1430@cluster0.2mavs0c.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

rec = collection.insert_many(data)
records = collection.find()

for i,j in enumerate(records):
    print(f"{i}: {j}")

if "_id" in df.columns.to_list():
    df = df.drop(columns=["_id"], axis = 1)

In [5]:
import pandas as pd

df = pd.read_csv(r"EasyVisa.csv")
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [6]:
from us_visa.constants import SCHEMA_FILE_PATH
from us_visa.utils.main_utils import read_yaml_file

In [8]:
import os
from from_root import from_root

In [9]:
SCHEMA_FILE_PATH

'config\\schema.yaml'

In [10]:
os.getcwd()

'd:\\Bala\\US_Visa_Eligibilty_Prediction\\notebook'

In [12]:
os.chdir("../")

In [13]:
schema_config = read_yaml_file(file_path=SCHEMA_FILE_PATH)
schema_config

{'columns': [{'case_id': 'category'},
  {'continent': 'category'},
  {'education_of_employee': 'category'},
  {'has_job_experience': 'category'},
  {'requires_job_training': 'category'},
  {'no_of_employees': 'int'},
  {'yr_of_estab': 'int'},
  {'region_of_employment': 'category'},
  {'prevailing_wage': 'int'},
  {'unit_of_wage': 'category'},
  {'full_time_position': 'category'},
  {'case_status': 'category'}],
 'numerical_columns': ['no_of_employees', 'prevailing_wage', 'yr_of_estab'],
 'categorical_columns': ['case_id',
  'continent',
  'education_of_employee',
  'has_job_experience',
  'requires_job_training',
  'region_of_employment',
  'unit_of_wage',
  'full_time_position',
  'case_status'],
 'drop_columns': ['case_id', 'yr_of_estab'],
 'num_features': ['no_of_employees', 'prevailing_wage', 'company_age'],
 'or_columns': ['has_job_experience',
  'requires_job_training',
  'full_time_position',
  'education_of_employee'],
 'oh_columns': ['continent', 'unit_of_wage', 'region_of_employment'],
 'transform_columns': ['no_of_employees', 'company_age']}

In [16]:
len(schema_config["columns"])

12